body {
    font: 1rem "Trebuchet MS", Arial, sans-serif;
    line-height: 1.8;
    color: #000000;
    background-color: #ffffff;
    padding-top: 10px !important;
}

.textcontainer {
  padding: 5%;
}

p {
  font-size: 1rem;
}

img {
  max-width: 75%;
}

.margin {
  margin-bottom: 5%;
}

a {
  color: #000000;
}

.container-fluid {
  padding: 20px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #ffffff;
  color: #000000;
  padding: 0px;
}

.navbar-nav {
  color: #000000 !important;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.navbar-nav a {
  color: #000000 !important;
}

.nav-title{
  padding: 10px;
  margin: 0px;
  color: #000000;
}

.nav-link {
  padding: 10px;
  color: #000000;
}


#btn {
  padding: 10px 30px;
  background-color: #2177c3;
  color: #000000;
}

.row {
  margin: auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #2d2b33;
  color: #EEE7E8;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: rgb(207, 12, 12);
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}

.image-inline {
  margin-bottom: 15px;
}

/* Responsive font sizes */
@media (max-width: 768px) {
    body {
        font-size: 0.875rem; /* Smaller font size for mobile devices */
    }

    p {
        font-size: 0.875rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.875rem;
    }
}

@media (min-width: 769px) {
    body {
        font-size: 1rem; /* Default font size for larger screens */
    }

    p {
        font-size: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }
}